.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    font-size: 1.5rem;
    padding: 2.5rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu_list {
    list-style: none;
    display: flex;
    gap: 2rem;
}